<!-- Table Header -->
<div class="px-6 py-4 border-b border-gray-200 bg-gray-50">
  <div class="overflow-x-auto">
    <div class="min-w-[800px] grid grid-cols-12 gap-4 text-xs font-medium text-gray-500 uppercase tracking-wider">
      <div class="col-span-3">
        Product
      </div>
      <div class="col-span-2">
        Stock Status
      </div>
      <div class="col-span-2 text-center">
        Buying Price
      </div>
      <div class="col-span-2 text-center">
        Selling Price
      </div>
      <div class="col-span-2 text-center">
        Expiry Status
      </div>
      <div class="col-span-1 text-right">
        Actions
      </div>
    </div>
  </div>
</div>
